<app-search (TextRequest)="textChanged($event)"></app-search>
<div class="flex flex-wrap w-full">
    <div class="relative mt-2 flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
      <div class="rounded-t  mb-0 px-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex justify-between">
            <h3 class="font-semibold text-lg text-blueGray-700"> Penelitian (Tesis, Skripsi, KP, dll) </h3>
            <a href="admin/penelitian/0" class="px-2"> <i class="fa fa-plus text-sm"></i></a>
          </div>
        </div>
      </div>
      <div class="block w-full overflow-x-auto p-5">
        <table class="table">
          <thead>
            <tr>
              <th>
                Kode
              </th>
              <th>
                Judul
              </th>
              <th>
                Topik
              </th>
              <th>
                Penulis
              </th>
              <th>
                Pembimbing
              </th>
              <th>
                Tahun
              </th>
              <th>
                
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datas">
              <td>{{item.kode}}</td>
              <td>{{item.judul}}</td>
              <td>{{item.topik}}</td>
              <td>{{item.penulis}}</td>
              <td>{{item.pembimbing}}</td>
              <td class="text-center">{{item.tahun}}</td>
              <td style="text-align: center;">
                <app-table-dropdown [edit]="'admin/penelitian/'+item.id" [view]="'admin/detail/'+item.id+'/penelitian'" ></app-table-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>