<div class="
    relative
    flex flex-col
    min-w-0
    break-words
    w-full
    mb-6
    shadow-lg
    rounded-lg
    bg-blueGray-100
    border-0
  ">
    <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
            <h6 class="text-blueGray-700 text-xl font-bold">Settings</h6>
            <button type="button" class="
            bg-red-600 text-white active:bg-red-700
          font-bold uppercase
          text-xs px-4
          py-2 rounded
          shadow hover:shadow-md
          outline-none
          focus:outline-none
          mr-1 ease-linear
          transition-all
          duration-150"   (click)="save(model)">
                Simpan
            </button>
        </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <div style="margin-top: 20px;">
            <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                    <div class="w-full lg:w-12/12 px-4">
                        <div class="relative w-full mb-3">
                            <label htmlfor="grid-password"
                                class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                Lama Sewa
                            </label>
                            <input type="number" min="3" [(ngModel)]="model.lamaSewa" />
                        </div>
                    </div>
                    <div class="w-full lg:w-12/12 px-4">
                        <div class="relative w-full mb-3">
                            <label htmlfor="grid-password" class="block uppercase text-blueGray-600 text-xs font-bold mb-2">
                                Besar Denda Perhari
                            </label>
                            <input type="number" [(ngModel)]="model.denda"  rows="4"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-6 border-b-1 border-blueGray-300" />
        </div>
    </div>
</div>