<div class="flex flex-wrap w-full">

    <div class="relative mt-2 flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
        <div class="rounded-t  mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
                <div class="relative w-full px-4 max-w-full flex justify-between">
                  <div class="flex">
                    <div style="margin-right: 40px;">
                        <h3 class="font-semibold text-md text-blueGray-700"> Kode Pemesanan  </h3>
                        <h3 class="font-semibold text-md text-blueGray-700"> Tanggal  </h3>
                        <h3 class="font-semibold text-md text-blueGray-700"> Nomor Anggota  </h3>
                        <h3 class="font-semibold text-md text-blueGray-700"> Nama Pemesan  </h3>
                        <h3 class="font-semibold text-md text-blueGray-700"> Status  </h3>
                    </div>
                    <div>
                        <h3 class="font-semibold text-md text-blueGray-700"> : {{model.id}} </h3>
                        <h3 class="font-semibold text-md text-blueGray-700"> : {{model.created_at|date:'dd/MM/yyyy'}} </h3>
                        <h3 class="font-semibold text-md text-blueGray-700"> : {{model.anggota.id}} </h3>
                        <h3 class="font-semibold text-md text-blueGray-700"> : {{model.anggota.nama}} </h3>
                        <h3 class="font-semibold text-md text-blueGray-700"> : {{model.status}} </h3>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="block w-full overflow-x-auto p-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Nomor Seri
                        </th>
                        <th>
                            Judul
                        </th>
                        <th>
                            Penulis
                        </th>
                        <th>
                            Jenis
                        </th>
                        <th>
                            Keadaan
                        </th>
                        <th>
                            Status Kembali
                        </th>
                        <th>
                            Catatan
                        </th>
                       
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let item of model.items">
                        <td>{{item.ItemKarya.nomorseri}}</td>
                        <td>{{item.ItemKarya.parent.judul}}</td>
                        <td>{{item.ItemKarya.parent.penulis}}</td>
                        <td>{{item.ItemKarya.jenis}}</td>
                        <td>{{item.ItemKarya.keadaan}}</td>
                        <td>{{item.statuskembali}}</td>
                        <td>{{item.ItemKarya.catatan}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>