.search {
    display: flex;
    justify-content: flex-end;
    .search-body {
        min-width: 300px;
        background-color: white;
        border-radius: 30px;
        padding: 10px;
        margin: 5px;
        box-shadow: 1px 1px silver;
        .search-input {
            width: 90%;
            padding-left: 10px;
            padding-right: 20px;
        }
        .search-btn{
            margin-left: 10px;
        }
    }
}
